@media #{$xlarge} {
  .logo-nav {
    display: flex;
    align-items: center;
    // justify-content: space-between;

    &__logo {
      margin-right: auto;
    }

    &__main-menu {
      display: flex;
      background-color: #fff;
      position: relative;
      height: auto;
      max-width: none;
      width: auto;
      overflow-y: visible;
      border-left: none;
      box-shadow: none;
      right: 0;
      top: 0;

      & > li {
        font-size: 24px;

        &.current_page_item {
          background-color: #fff;

          a {
            color: $color-2;
          }
        }

        a {
          text-decoration: none;
        }

        & > .sub-menu {
          position: absolute;
          top: 70px;
          left: 0;
          width: 100%;
          opacity: 0;
          visibility: hidden;
          background-color: #fff;
          display: grid;
          grid-template-columns: 1fr 1fr;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          box-shadow: 0 10px 10px 0 rgb(0 0 0 / 15%);
        }

        &.dropdown-active {
          background-color: #fff;

          & > a {
            color: $color-2;
          }

          & > .sub-menu {
            position: absolute;
            opacity: 1;
            visibility: visible;
            top: 62px;

            li {
            }
          }
        }

        &.instagram-icon {
          text-indent: -9999px;
          background: url("./images/instagram-icon.webp") no-repeat center center;
        }
      }
    }

    &__hamburger-menu {
      display: none;
    }
  }
}
