.button {
  font-size: 16px;
  line-height: 1.5;
  padding: 15px 35px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &.button-color-1 {
    color: #fff;
    background-color: $color-1;
    border-color: $color-1;
    transition: all 0.3s;

    &:hover {
      color: #fff;
      background-color: $color-2;
      border-color: $color-2;
      transition: all 0.3s;
    }
  }

  &.button-color-2 {
    color: #fff;
    background-color: $color-2;
    border-color: $color-2;
    transition: all 0.3s;

    &:hover {
      color: #fff;
      background-color: $color-1;
      border-color: $color-1;
      transition: all 0.3s;
    }
  }
}
