body {
  font-family: $font-2;
  font-size: 14px;
  line-height: 1.71429;
  font-weight: 400;
  color: $color-3;
}

.button {
  font-size: 16px;
  line-height: 1.5;
  padding: 15px 35px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  &.button-color-1 {
    color: #fff;
    background-color: $color-1;
    border-color: $color-1;
    transition: all 0.3s;

    &:hover {
      color: #fff;
      background-color: $color-2;
      border-color: $color-2;
      transition: all 0.3s;
    }
  }

  &.button-color-2 {
    color: #fff;
    background-color: $color-2;
    border-color: $color-2;
    transition: all 0.3s;

    &:hover {
      color: #fff;
      background-color: $color-1;
      border-color: $color-1;
      transition: all 0.3s;
    }
  }
}

.background-light {
  background-color: $color-5;
}
