@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600&display=swap");

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 24px;
}
