$xsmall: "only screen and (min-width: 360px)";
$gutenbergsmall: "only screen and (min-width: 600px)";
$small: "only screen and (min-width: 640px)";
$medium: "only screen and (min-width: 768px)";
$large: "only screen and (min-width: 1024px)";
$xlarge: "only screen and (min-width: 1200px)";
$xxlarge: "only screen and (min-width: 1440px)";
$xxxlarge: "only screen and (min-width: 1600px)";
$fullhd: "only screen and (min-width: 1920px)";
$wqhd: "only screen and (min-width: 2560px)";

$maincolorblue: #2a538b;
$maincolorgold: #b57b2f;
