$xsmall: "only screen and (min-width: 360px)";
$gutenbergsmall: "only screen and (min-width: 600px)";
$small: "only screen and (min-width: 640px)";
$medium: "only screen and (min-width: 768px)";
$large: "only screen and (min-width: 1024px)";
$xlarge: "only screen and (min-width: 1200px)";
$xxlarge: "only screen and (min-width: 1440px)";
$xxxlarge: "only screen and (min-width: 1600px)";
$fullhd: "only screen and (min-width: 1920px)";
$wqhd: "only screen and (min-width: 2560px)";

$color-1: #2a538b;
$color-2: #b57b2f;
$font-1: "Libre Baskerville", "Times New Roman", Times, serif;
$font-2: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
  10: $spacer * 10.5,
  11: $spacer * 12,
  12: $spacer * 13.5,
) !default;
