body {
  position: relative;
}

.header {
  .header__main-nav {
    position: fixed;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #e8e9ee;

    nav ul.menu {
      position: relative;
    }
  }

  &__checkbox {
    display: none;
  }

  &__hamburger-button {
    width: 34px;
    position: relative;
    height: 30px;
    display: block;

    @mixin hamburger-line {
      height: 2px;
      width: 100%;
      background-color: $maincolorblue;
      position: absolute;
    }

    .header__icon {
      @include hamburger-line;
      top: 14px;

      &:before {
        @include hamburger-line;
        top: -11px;
        content: "";
      }

      &:after {
        @include hamburger-line;
        top: 11px;
        content: "";
      }
    }
  }

  @media #{$xlarge} {
    &__hamburger-button {
      display: none;
    }
  }

  nav {
    position: fixed;
    top: 90px;
    right: -300px;
    transition: all 0.3s;
    background: #fff;
    z-index: 100;
    width: 270px;

    ul {
      li {
        a {
          padding: 27px 20px 27px 20px;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.07em;
          text-transform: uppercase;
          color: #000;
          text-decoration: none;
        }
        &.menu-item-has-children {
          ul.sub-menu {
          }
        }
      }
    }
  }

  &__checkbox:checked ~ nav {
    right: 0;
    transition: all 0.3s;
  }

  @media #{$xlarge} {
    nav {
      position: static;
      width: auto;

      & > ul {
        display: flex;

        li {
          &.menu-item-has-children {
            ul.sub-menu {
              position: absolute;
              top: 120px;
              left: 0;
              transition: 0.3s all;
              width: 100%;
              background-color: #fff;
              padding: 27px;
              border-radius: 6px;
              box-shadow: 0 5px 10px 1px rgb(230 230 230 / 30%);
              opacity: 0;
              visibility: hidden;
              display: grid;
            }
          }

          &.menu-item-has-children.dropdown-active {
            ul.sub-menu {
              opacity: 1;
              top: 80px;
              transition: 0.3s all;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

.header__below-main-nav {
  padding-top: 130px;
  min-height: 500px;
  background-color: #000;
}
